body {
    padding-top: 30px;
    padding-bottom: 60px;
    position: relative;
    line-height: 1.3;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: #fff;
}
#app {
    flex: 1;
}

#main-footer {
    position: absolute;
    bottom:0;
    width: 100%;
    height: 60px;
    border-top: 1px solid gray("200");
    background-color: gray("100");
    color: gray("600");
}

a.link2 {
    color:$custom-blue;
    font-size: 90%;
    &:hover{
        color:$custom-blue-dark;
        text-decoration: none;
    }
    >.icon-wrapper {
        font-size: 180%; 
        position: relative;
        top:4px;
    }
}


nav.navbar-light .navbar-nav .nav-link {
    color: gray("600");
    border-bottom-width: 2px;
    border-block-end-style: solid;
    border-color: transparent;
    padding-left: 0px;
    padding-right: 1px;
    margin-right: 7px;

}
nav.navbar-light .navbar-nav .nav-link:hover {
    color: gray("900");
}


nav.navbar-light .navbar-nav{
    .nav-link.router-link-active,
    .custom-active-parent > .nav-link {
        border-color: $custom-blue-dark;
        color: gray("900");
    }
}

nav.navbar-light .navbar-nav .navbar-toggler {
    outline: none;
}

.vertical-flex {
    flex-flow: column;
    align-items: start;
}
.sub-nav {
    .nav-link {
        color: gray("600");
        margin-right: 0.1rem;
        padding-left: 0.1rem;
        padding-right: 0.5rem;
        font-size: .75rem;
        border-bottom-width: 1px;
        border-bottom-style: solid;
        border-bottom-color: transparent;
        &.router-link-active {
            border-bottom-color: $custom-red;
            color: gray("900");
        }
    }
    .nav-link:hover {
        color: gray("900");
    }
}

.btn {
    border-radius: 0;
}
.btn-primary {
    background-color: $custom-blue;
    color:#fff;
    &:hover {
        background-color: $custom-blue-dark;
    }
}
.spinner-grow {
    color: $custom-blue;
}

